/* 
=========================================
font-family: 'Dancing Script', cursive;
font-family: 'EB Garamond', serif;
=========================================

FONTS
*/





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.img-container {

    text-align: center;
    background-color: lightblue;
    padding: 3%;
}

.img-container img {
    border-radius: 20%;
    width: 50%;
}

.main-title {
    text-align: center;
    font-size: 4em;
    margin-top: 25px;
    font-family: 'Dancing Script', cursive;
    text-decoration: underline;
}

.recipe-container {
    height: 40vh;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recipe {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    border: 2px solid lightblue;
    padding: 2%;
}

.recipe a {
    text-decoration: none;
    color: black;
}

.recipe:hover {
    background: linear-gradient(3deg, rgba(150, 74, 74, 1) 0%, rgba(186, 219, 255, 1) 100%);

}

.recipe a:hover {
    color: white;
    transition: 1s;
}


.recipe-img img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    border: 2px solid black;
}

/*
========================
 HOME PAGE ^^
 =======================
 */

.main-img {
    text-align: center;
    background-color: aquamarine;
    padding: 3%;
    border-top: 15px double black;
    border-bottom: 15px double black;
}

.main-img img {
    border-radius: 20%;
}

.recipe-title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;

}

.page-description {
    text-align: center;
    font-size: 1.2em;
}

.recipe-info-container {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cooking-info-container {
    flex-basis: 15%;
    background-color: lightsalmon;
    margin: 0 auto;
    padding-left: 100px;
    border: 5px dotted black;
}

.ingredients-container {
    flex-basis: 25%;
    margin: 0 auto;
}

.direction-container {

    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

.direction-head-txt {
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
}

.direction-container p {
    font-size: 1.3em;
}

.link-container {
    text-align: center;
    margin-left: 600px;
    font-size: 1.5em;
    width: 40%;
    background-color: aquamarine;
}

/*
   ==============================
            LASAGNA PAGE ^
    =============================
 */
.pizza-img {
    text-align: center;
    background-color: cadetblue;
    padding: 3%;
}

.pizza-title {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    text-decoration: underline;
    margin-top: 45px;
    margin-bottom: 20px;
}

.pizza-desc {
    font-size: 1.3em;
    margin-bottom: 30px;
}

h2,
h3,
h4,
h5 {
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pizza-instructions {
    width: 40%;
    margin-bottom: 50px;
    border: 5px solid cadetblue;
    background-color: rgb(216, 214, 214);
    box-shadow: 10px 13px 15px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 13px 15px 8px rgba(0, 0, 0, 0.5);
}

.pizza-instructions p {
    font-size: 1.5em;
}

.cooking-instructions-container {
    width: 50%;
    margin-top: 50px;

}

.instructions-heading {
    text-align: center;
    margin-bottom: 20px;
}

.cooking-instructions-container li {
    font-size: 1.4em;
}

.cooking-instructions-container li h3 {
    font-size: 1.2em;
}

.footer-nav-links{
    text-align:center;
}

.footer-nav-links a {
    text-decoration: none;
    color: black;
    font-size:2em;
    
}

.footer-nav-links button{
    color:white;
    cursor:pointer;
    font-size:1.3em;
    padding:15px 40px;
    margin-top:50px;
    text-align:center;
    background-color:cadetblue;
}

.footer-nav-links button:hover{
    background-color:white;
    color:cadetblue;
    transition:1s;
}

/*
 ==============================
            PIZZA PAGE ^ 
 ==============================
 */

 .main-img-container{
    text-align:center;
    background-color:#f3e056;
    padding:3%;
   }

   .main-img-container img{
    width:50%;
    height:50%;
   }

   .stirfry-head{
    text-align:center;
    margin-top:30px;
    text-decoration:underline;
    margin-bottom:30px;
   }

   .stifry-description{
    width:85%;
    margin:0 auto;
    font-size:1.3em;
   }

   .stirfry-faq{
    margin-top:40px;
   }

   .stirfry-faq {
    text-align:center;
    font-size:1.4em;
    
   }

   .content-container{
    margin:50px 0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
   }

   .ingredient-container{
   flex-basis:30%;
   background-color:lightgreen;
   padding:2%;
   text-align:center;
   border-radius:20%;
   box-shadow: 22px 22px 16px 4px rgba(243, 224, 86, 0.5);
-webkit-box-shadow: 22px 22px 16px 4px rgba(243, 224, 86, 0.5);
   }

   .ingredient-container h3{
    text-decoration:underline;
    margin-bottom:20px;
   }
   .ingredient-container li{
    font-size:1.5em;
    list-style-position:inside;
    margin-bottom:5px;
    border-bottom:3px solid white;
   }

   .cooking-direction-container{
    flex-basis:55%;
   }

   .cooking-direction-container h4{
font-size:1.5em;
   }

   .cooking-direction-container li p{
font-size:1.3em;
   }

   .footer-nav{
    text-align:center;
    padding:20px 0;
    background-color:black;
    color:white;
    font-size:2em;
   }

   .footer-nav button{
padding:8px 20px;
background-color:lightgreen;
color:black;
margin-bottom:10px;
   }

   .footer-nav button:hover{
background-color:white;
transition:1s;
   }
   
   /* 
   ==============================
             STIRFRY PAGE ^ 
   ==============================
   */